:root {
  font-family: "Noto Sans Display", sans-serif;
  --space-cadet: #2b2d42ff;
  --manatee: #8d99aeff;
  --cultured: #edf2f4ff;
  --army-green: #41521fff;
  --pale-spring-bud: #dde5b6ff;
}

nav {
  background-color: var(--army-green);
}

span {
  color: var(--pale-spring-bud);
}

.my-name {
  font-size: x-large;
  font-weight: bolder;
}

.navbar-toggler {
  background-color: var(--cultured);
}

.zoom:hover {
  text-transform: uppercase;
}

.heading {
  color: var(--army-green);
}

.btn {
  background-color: var(--army-green);
  color: var(--pale-spring-bud);
}

.btn:hover {
  text-transform: uppercase;
  color: var(--cultured);
}

.footer {
  padding: 30px;
  clear: both; /* no other element takes up space on the left and right side */
  text-align: center;
}

#about-me {
  font-weight: bolder;
  font-size: larger;
}

#my-pic {
  width: 220px;
}

#money-mail {
  width: 300px;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 596px) {
}
