:root {
  font-family: "Noto Sans Display", sans-serif;
  --space-cadet: #2b2d42ff;
  --manatee: #8d99aeff;
  --cultured: #edf2f4ff;
  --army-green: #41521fff;
  --pale-spring-bud: #dde5b6ff;
}

* {
  /* Padding and border are included in the width and height */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.footer {
  padding: 30px;
  clear: both; /* no other element takes up space on the left and right side */
  text-align: center;
}
